<div class="operation">
        <a class="btn btn-primary"  href="/add_asset.html" >添加</a>
{#        <input id="add" type="button" value="添加" data-toggle="modal" data-target="#addModal" />#}
        <input type="button" value="全选" onclick="checkAll();" />
        <input type="button" value="反选" onclick="reverseAll();" />
        <input type="button" value="取消"  onclick="cancleAll();"/>
        <input id="delete-batch" type="button" value="批量删除" data-toggle="modal" data-target="#delSignalModal" />
</div>